@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,700);
/*font-family: 'Raleway', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*font-family: 'Open Sans', sans-serif;*/


/*Selector Universal*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	/* upper-alpha | upper-roman | upper-latin | url(../images/ser1.png) | disc | circle | square*/
}

header{
	max-width: 1200px;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px 35px 15px;
	margin: 0 auto;
	background-color: #fff;
	position: fixed;
	z-index: 600;	
}

nav{
	float: right;
}
nav li{
	display: inline-block;
	margin-left: 15px;
	color: #AFAFAF;
	margin-top: 9px;
}
nav a{
	color: #ADADAD;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
}

nav a.active {
	color: #10293B;
}

.cleaner{
	clear: both;
}

.contenedor-inicial{
	margin-top: 60px;
	min-height: 500px;
	background: url(../images/indexbanner-bg3.jpg) no-repeat center top scroll;
}

.wrapper{
	max-width: 1200px;
	margin: auto;
	/*background-color: rgba(255,0,0,0.5);*/
}

.main-title{
	color: #fff;
	font-size: 40px;
	margin: 280px 0 0;
	display: inline-block;
	text-align: left;
}


.main-title + p{
	color: #fff;
	font-size: 18px;
	width: 550px;
	line-height: 37px;
}

.buscador{
	background-color: #00ADF3;
	position: relative;
	margin-top: 230px;
}

.buscador input[type=text]{
	width: 83%;/*calc(100% - 200px)*/
	height: 70px;
	border: solid 1px #ccc;
	font-family: inherit;
	font-size: 20px;
	padding: 0 30px;
	/*padding: 0 210px 0 30px;*/
}

.buscador button{
	/*width: 200px;*/
	width: 16%;
	height: 70px;
	background-color: #00ADF3;
	color: #fff;
	font-family: inherit;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 600;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	/*COLOR PICKER (CTRL + SHIFT + C)*/
}


.servicios-destacados{
	margin-top: 150px;
}

.servicios-destacados article{
	text-align: center;
	width: 25%;
	float: left;
	padding: 0 25px;
	position: relative;
	min-height: 300px;
	/*line-height: 0;*/
}


/*.servicios-destacados article:hover{
	background-color: #333;
}*/

.servicios-destacados article img{
	width: 33.33333333333%;
	transition: all 250ms ease-in;
	-webkit-transition: all 250ms ease-in;
	border-radius: 50%;
}

.servicios-destacados article:hover img{
	transform: rotate(360deg) scale(1.2);
	-ms-transform: rotate(360deg) scale(1.2);
	-webkit-transform: rotate(360deg) scale(1.2);
	box-shadow: 0 0 12px black;
}

.servicios-destacados article h2{
	font-size: 13px;
	letter-spacing: 2px;
	color: #1C2E3C;
	padding-top: 25px;
	font-family: 'Raleway', sans-serif;
}

.servicios-destacados article p{
	color: #A2A3A6;
	line-height: 24px;
	font-size: 14px;
}

.subtitle{
	font-size: 32px;
	text-align: center;
	margin: 50px 0 10px;
	color: #1A2D3B;
}

/*selector de hermano adyacente*/
.subtitle + p{
	text-align: center;
	font-size: 18px;
	color: #A2A3A6;
	padding-bottom: 50px;
}

.caracteristicas{
	float: left;
	width: 29.16%;
}


.imagen-mitad{
	width: 25%;
	float: left;
	margin: 0 8.3%;	
}

.imagen-mitad img{
	width: 100%;
}

.caract-izq article{
	position: relative;
	text-align: right;
	padding-right: 60px;
}

.caract-izq article img{
	position: absolute;
	right: 0;
	top: 0;
}

.caracteristicas article h3{
	font-size: 13px;
	letter-spacing: 2px;
	color: #1C2E3C;
	padding-top: 15px;
}
.caracteristicas article p{
	color: #A2A3A6;
	line-height: 24px;
	font-size: 14px;
}


.caract-der article{
	position: relative;
	padding-left: 60px;
}

.caract-der article img{
	position: absolute;
	left: 0;
	top: 0;
}

.contenedor-secundario{
	background: url(../images/pricing-bg.jpg) center top no-repeat;
	min-height: 400px;
	margin-top: -80px;
	// border-top:solid 5px red ;
}

.contenedor-secundario h2{
	text-align: center;
	padding-top: 80px;	
	margin: 0;
	font-size: 32px;
	font-weight: 700;
	color: #1A2D3B;
}
.contenedor-secundario h2 + p{
	font-size: 18px;
	color: #A2A3A6;
	text-align: center;
	margin-top: 20px;
}

.pricing-boxes{
	margin: 80px 0;
	// border: dotted 3px green;
}

table, td, tr{
	padding: 0;
	border-spacing: 0;
	// border: solid 1px #000; 
}

.box-price{
	width: 22.5%;
	float: left;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	padding: 15px;
	margin-right: 3.3333333333333%;
}

.last{
	margin-right: 0;
}

.box-price table{
	width: 100%;
	text-align: center;
}

.box-price table h4{
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #163144;
}

.box-price table h3{
	color: #163144;
	font-size: 70px;
	margin:0;
	padding-top: 10px;
	line-height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.box-price table h3 i{
	font-style: normal;
}

.box-price table h3 sup{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	top: 5px;
}

.box-price table b{
	font-weight: 400;
	color: #9F9FA0;
	font-size: 14px;
	display:block;
	border-bottom: solid 1px #ccc;
	padding-bottom: 40px;
	margin-bottom: 20px;
}

.box-price table span{
	color: #777D81;
	line-height: 35px;
	font-size: 14px;
	margin-top: 60px;
}

.box-price table .blue-txt{
	color: #00B0F4;
}

.box-price table .yellow-txt{
	color: #FCCF3F;
}

.box-price table .orange-txt{
	color: #F4934F;
}

.box-price table .red-txt{
	color: #FC4032;
}

.box-price table button{
	width: 80%;
	height: 40px;
	background-color: #00B0F4;
	border: none;
	margin: 30px 0 50px;
	border-radius: 5px;
}

.box-price table button a{
	color: white;
	font-size: 11px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}

/*/////////////////// Contacto //////////////////*/
.contenedor-superior{ 
	margin-top: 60px;
	min-height: 500px;
	background:  url(../images/indexbanner-bg2.jpg) no-repeat center top scroll ;
	text-align: center;
}

.wrapper {
	max-width: 1200px; 
	margin: 0 auto;
}


.contact-title {
	color: #fff; 
	font-size: 40px; 
	display: inline-block; 	
	margin: 180px 0 auto;
}

.contact-description{
	color: #fff;
	font-size: 18px;
	width: 700px;
	line-height: 37px;
	text-align: center;
	margin: 0 auto;
}
	

.contenedor-form h2{
	font-size: 32px;
	text-align: center;
	margin: 50px 0 10px;
	color: #1A2D3B;
	font-weight: bold;
}

.contenedor-form p{
	text-align: center;
	font-size: 18px;
	color: #A2A3A6;
	padding-bottom: 50px;
}

.formulario{
	width: 97%;
	margin: 0 auto;
	position: relative;

}

.columna-izq{
	width: 49%;
	float: left;
}

.columna-izq input[type=text] {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: solid 1px #ccc;
	font-family: inherit;
	font-size: 12px;
	padding-left: 15px;
	margin-bottom: 15px;
} 

.columna-der{
	width: 49%;
	float: right;
}

.formulario input[type=text]:focus {
    border: 1px solid #00AFF4;
    border-radius: 5px;
}

.formulario textarea{
	width: 100%;
    height: 180px;
    padding: 12px 20px;
    border: solid 1px #ccc;
    border-radius: 4px;
    resize: none;
    font-family: inherit;
	font-size: 12px;
	top: 0;
	right: 0;
}

.formulario textarea:focus {
    border: 1px solid #00AEF4;
    border-radius: 5px;
}

.formulario button{
	width: 14%;
	height: 50px;
	background-color: #00ADF3;
	color: #fff;
	font-family: inherit;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 60px;
	display: block;	
	
}


/*FOOTER*/

.box1 {
	width: 100%;
	background-color: #142e3f; 
	height: 225px;
}

.box1 p {
	width: 100%;
	text-align: center; 
	color: white; 
	font-size: 30px; 
	font-family: 'Raleway', 
	sans-serif; 
	padding-top: 95px;
} 

.box1 p strong {
	color: #03b3fe; 
	font-family: 'Raleway', sans-serif;
}

.box2 {
	width: 100%;
	background-color: #091722; 
	height: 110px; 
	color: white; 
	font-size: 12px; 
	color: #caccd5; 
	margin: 0 auto;
	padding: 40px 15px 0;
}

.menu {
	float: right;
}

.menu ul{
	margin-top: -33px;
}

.menu li{
	display: inline-block;
}





/*MEDIA QUERIES*//////

@media (max-width: 860px) {
	.wrapper{
		width: 80%;
	}
	
	header nav{
		display: inline-block;
		float: none;
		margin-left: 18%;
	}

	.servicios-destacados article{
		width: 50%;
		min-height: 380px;
	}

	.box-price{
		width: 25%;
		margin: 2.5%;
	}

	.box1 p{
		width: 70%;
	}

	.box2 p{
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.menu {
		text-align: center;
		float:none;
		display: block;
	}
	
	.menu ul{
		display: inline-block;
		margin: 0;
	}
	.menu li{
		display: inline-block;
		margin: 0;
		padding-right: 15px;
	}

}

@media (max-width: 700px){
	.wrapper {
		width: 96%;
	}
	header{
		position: static;
		text-align: center;
	}
	header nav{
		display: block;
		float: none;	
	}
	
	header nav li{
		display: block;
		text-align: center;
		padding: 10px 0;
		margin: 0;
	}
	
	.contenedor-inicial{
		margin-top: 0;
		background: none;
	}
	.main-title, .main-title + p{
		display: none;
	}
	.buscador{
		margin-top: 0;
	}
	.servicios-destacados article{
		width: 50%;
	}
	.caracteristicas{
		float: none;
		width: 100%;
	}
	.caract-izq article{
		padding-right: 0;
		padding-left: 60px;
		text-align: left;
	}
	.caract-izq article img{
		left: 0;
		right: auto;
	}
	.imagen-mitad{
		float: none;
		width: 50%;
		margin: 50px auto;
	}
	.contenedor-secundario{
		background-size: 100%;
		margin-top: 30px;
	}
	.box-price {
		width: 46.6666666%;
		text-align: center;
		display: block;
		margin-bottom: 30px;
	}

	.box2 p{
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.menu {
		text-align: center;
		float:none;
		display: block;
	}
	
	.menu ul{
		display: inline-block;
		margin: 0;
	}
	.menu li{
		display: inline-block;
		margin: 0;
		padding-right: 15px;
	}
}


@media (max-width: 647px) {
	.buscador button[type=submit]{
		font-size: 12px;
	}
}

@media (max-width: 480px) {
	.buscador input[type=submit]{
		width: 25%;
	}
	.buscador button i{
		display: none;
	}
	.servicios-destacados{
		margin-top: 40px;
	}
	.servicios-destacados article{
		float: none;
		width: 100%;
	}
	.contenedor-secundario h2{
		padding-top: 30px;
	}
	.pricing-boxes{
		margin-top: 50px;
	}
	.box-price{
		float: none;
		width: 70%;
		margin: 30px auto;
	}
}



@media (min-width: 420px) {
	.buscador button{
		width: 20%;
	}
}





/* /// MEDIA QUERIES de CONTACTO /// */	
@media (max-width: 700px){
	.contenedor-superior{
		display: none;
	}

	.columna-izq{
		width: 100%;
		float: none;
	}
	.columna-der{
		width: 100%;
		float: none;
	}
}

@media (max-width: 480px) {
	.contenedor-superior{
		display: none;
	}
	
	.columna-izq{
		width: 100%;
		display: block;
		float: none;
	}
	.columna-der{
		width: 100%;
	}
	.formulario textarea{
		width: 100%;
		float: none;
		position: relative;
		margin: auto;
	}
	.formulario button{
	width: 30%;
	}
}

